body {
  background: #efefef;
  font-family: "Montserrat", arial, sans-serif;
  color: #302c29;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/*header .container {
  position: relative;
  z-index: 2;
}*/

header .container {
  position: absolute;
  z-index: 2;
  left: -15px;
  top: -70px;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.bg-dark {
  background-color: #093170 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  padding-left: 20px;
}

.navbar-nav .nav-item.cta {
  text-align: center;
}

.nav-item.cta:hover {
  background: #1e549f;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  text-decoration: underline !important;
  color: #ffffff;
}

.cta {
  background: #3377cd;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
}

.card-container {
  margin-top: -100px;
}

.card {
  -webkit-box-shadow: 1px 7px 14px -9px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 1px 7px 14px -9px rgba(0, 0, 0, 0.67);
  box-shadow: 1px 7px 14px -9px rgba(0, 0, 0, 0.67);
}

.card img {
  padding-top: 20px;
}

.card-container {
  margin-top: -100px;
}

.card {
  -webkit-box-shadow: 1px 7px 14px -9px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 1px 7px 14px -9px rgba(0, 0, 0, 0.67);
  box-shadow: 1px 7px 14px -9px rgba(0, 0, 0, 0.67);
}

.card img {
  padding-top: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-text {
  font-weight: regular;
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 60%;
}

/*.confidence {
	margin-top: 50px;
}*/

.confidence h1 {
  font-size: 25px;
  font-weight: bold;
  color: #302c29;
  text-align: center;
  margin-top: 50px;
}

.cta-primary {
  color: #ffffff;
  font-weight: regular;
  font-size: 16px;
  text-align: center;
  background: #3377cd;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
  margin-bottom: 0px;
  -webkit-box-shadow: 1px 7px 14px -9px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 1px 7px 14px -9px rgba(0, 0, 0, 0.67);
  box-shadow: 1px 7px 14px -9px rgba(0, 0, 0, 0.67);
}

.cta-primary:hover {
  background: #1e549f;
  text-decoration: underline;
}

.btn:hover {
  background: #1e549f;
  color: #ffffff;
  text-decoration: underline;
}

.cta-secondary {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  background: transparent;
  border: #3377cd solid 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
  color: #000000;
}

.cta-secondary:hover {
  text-decoration: underline;
}

.subtitle {
  display: block;
  font-size: 18px;
  color: #302c29;
}

.title {
  display: block;
  font-weight: bold;
  font-size: 30px;
  color: #302c29;
}

.card {
  border-radius: 0;
}

.title-card {
  font-size: 16px;
  border-bottom: 2px solid #093170;
  margin: 15px 0;
}

.card.icon {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

.icon-title {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.icons {
  background: #ffffff;
  margin-top: 100px;
  padding-bottom: 100px;
}

.icon-h1 {
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  padding-bottom: 30px;
  border-bottom: 1px solid #302c29;
}

.tab-h1 {
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.tab-h3 {
  text-align: center;
  font-weight: normal;
  font-size: 25px;
}

.max-w {
  max-width: 1050px;
}

.transparentBox {
  background-color: rgba(9, 49, 112, 0.8);
  color: #ffffff;
}

.transparentBox h6 {
  font-weight: 300;
  text-align: left;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.transparentBox p {
  font-weight: 300;
  text-align: left;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.transparentBox h1 {
  font-weight: bold;
  text-align: left;
  font-size: 50px;
  padding-left: 30px;
  padding-right: 80px;
}

.contact {
  background: #302c29;
}

.contact h1 {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: #ffffff;
}

.contact span {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact span a {
  color: #ffffff;
  text-decoration: underline !important;
}

.white-wrap {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.form-control {
  background-color: rgba(61, 216, 141, 0.2);
  border-radius: 0;
}

.form-control::-webkit-input-placeholder {
  color: #000000;
}

.btn-send {
  background: #3377cd;
  color: #ffffff;
  border-radius: 0;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.center {
  text-align: center;
}

.timeline {
  margin-top: 30px;
}

.timeline span {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  display: block;
  padding-bottom: 5px;
}

.timeline .orange {
  border-bottom: solid 10px #eda340;
}

#works---- {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

#works---- p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

#works p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.timeline .green {
  border-bottom: solid 10px #3dd88d;
}

.timeline .blue {
  border-bottom: solid 10px #3377cd;
}

#works---- p.featured {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
}

.icon-new {
  max-width: 1140px;
  margin-top: 30px;
}

.step-sliders {
  border: solid 1px #093170;
  height: 94px;
  border-radius: 50px;
}

.slider-wrap {
  text-align: center;
}

.card-slider,
.card-slider-mobile {
  /* background-color: #ffffff; */
  /* margin: 20px; */
}

.slider-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.card-content {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  margin-bottom: 5px;
  display: block;
  font-weight: 200;
}
.card-content-bold {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  margin-bottom: 5px;
  display: block;
  font-weight: 500;
}

h1.text-rotate {
  /* padding: 150px 50px; */
  float: left;
  width: 100%;
  font-size: 45px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 100;
  /* color: white; */
  margin: 0;
}

.list-ic a {
  color: #788288;
  text-decoration: none;
}
.list-ic li {
  position: relative;
}
.list-ic li span {
  display: inline-block;
  font-weight: 800;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 1em;
  border-radius: 1em;
  /* background: #302c29; */
  border: 3px solid #302c29;
  color: white;
  position: relative;
  z-index: 3;
}
.list-ic li::before {
  content: "";
  position: absolute;
  background: #302c29;
  /* z-index: -1; */
}
.list-ic.horizontal li {
  display: inline-block;
}
.list-ic.horizontal li span {
  margin: 0 1em;
  background-color: #ffffff;
}
.list-ic.horizontal li::before {
  top: 0.55em;
  left: -24px;
  width: 2.5em;
  height: 0.15em;
}
.list-ic.vertical {
  padding: 0;
  margin: 0;
}
.list-ic.vertical li {
  list-style-type: none;
  text-align: left;
}
.list-ic.vertical li span {
  margin: 1.4em 0;
}
.list-ic.vertical li::before {
  top: -35px;
  left: 13px;
  width: 0.2em;
  height: 4em;
}
.list-ic li:first-child::before {
  display: none;
}
.list-ic .active {
  background: dodgerblue;
}
.list-ic .active ~ li {
  background: lightblue;
}
.list-ic .active ~ li::before {
  background: lightblue;
}

.carousel:before,
.carousel:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100px;
  top: 0;
  height: 100%;
  pointer-events: none; /*makes the linkes behind clickable*/
}

.carousel:before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 20px,
    rgba(0, 0, 0, 0)
  );
}

.carousel:after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1) 20px, rgba(0, 0, 0, 0));
}

.slider-cards-section .slick-slide {
  padding: 20px;
}

.slick-slide img {
  width: 100%;
}

.carousel {
  position: relative;
  margin: 0 0 64px;
}

.carousel:before,
.carousel:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 300px;
  top: 0;
  height: 100%;
  pointer-events: none; /*makes the linkes behind clickable*/
}

.carousel:before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(239, 239, 239, 1) 20px,
    rgba(239, 239, 239, 0)
  );
}

.carousel:after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(239, 239, 239, 1) 20px,
    rgba(239, 239, 239, 0)
  );
}

section {
  height: 100%;
  position: relative;
  text-align: center;
}

/* Center aligned first section */
section .inner {
  margin: 0 auto;
  max-width: 85%;
}

.white {
  color: #ffffff;
}

.lumedic-phone-section {
  height: 800px;
}

@media only screen and (min-width: 769px) {
  .only-mobile {
    display: none;
  }

  .only-large {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .only-mobile {
    display: block;
  }

  .only-large {
    display: none;
  }
}

.slick-current .slider-button {
  border-bottom: solid 1px #093170;
  background-color: #efefef;
}

.slider-cards-section {
  /* margin-top: 30px; */
}

.carousel.slick-slider {
  width: 100% !important;
}

.slick-active.slick-slide {
  background-color: #f6f6f6;
}

.slick-active.slick-slide.slide-current {
  background-color: #ffffff;
}

/* .slick-slide.slick-current.slick-active {
  background-color: #ffffff;
} */

.slick-active .card-slider .card-content,
.slick-active .card-slider .card-content-bold {
  color: #788288;
}

.slick-active.slick-current .card-slider {
  /* background-color: #ffffff; */
}

.slick-active.slick-current .card-slider .card-content,
.slick-active.slick-current .card-slider .card-content-bold {
  color: #000000;
}

#mainTitle {
  font-weight: 500;
}

.confidence.top {
  margin-top: 150px;
}

h2.confidence {
  font-size: 1.8rem;
  font-weight: 200;
}

.list-ic.horizontal {
  margin: 20px 0 0 -20px;
  padding: 0;
}

.prov-icon {
  text-align: center;
}

.textContainer {
  text-align: center;
}

.required {
  border: 2px solid #eda340;
}

.message {
  color: #302c29;
  font-weight: lighter;
  text-align: center;
}

/* Content of the following sections aligned next to the iphone

@media only screen and (min-width: 1024px) {
  section .innerText {
    text-align: left;
    position: absolute;
    margin-top: 0px;
    width: 50%;
    margin-left: 10%;
  }

  .lumedic-phone-section {
    background: url("../img/slider-bg.jpg");
    height: 650px;
    min-height: 650px;
    background-size: contain;
  }
} */
/* Content of the following sections aligned next to the iphone */

@media only screen and (min-width: 1025px) {
  section .innerText {
    /* position: absolute;
		  top: 250px;
		  left: 20%;
		  transform: translate(-100px, -50%); */
    text-align: left;
    position: absolute;
    margin-top: 0px;
    width: 50%;
    margin-left: 10%;
  }

  .lumedic-phone-section {
    background: url("../img/slider-bg.jpg");
    height: 800xpx;
    min-height: 800px;
    background-size: cover;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  section .innerText {
    text-align: left;
    position: absolute;
    margin-top: 0px;
    width: 50%;
    margin-left: 10%;
  }

  .slider-button {
    margin: 14px 20px;
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    text-align: center;
  }
  .step-sliders .slick-track {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 880px;
  }
  .step-sliders.slick-slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lumedic-phone-section {
    background: url("../img/slider-bg.jpg") bottom right no-repeat;
    height: 576px;
    min-height: 576px;
    background-size: contain;
  }

  .step-sliders .slick-slide {
    margin: 0 !important;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  section .innerText {
    /* position: absolute;
		  top: 250px;
		  left: 20%;
		  transform: translate(-100px, -50%); */
    text-align: center;
    margin: 30px;

    position: absolute;
    margin-top: 40px;
  }

  /* .slick-slide {
    margin: 10px !important;
  }
  .slick-slide.slick-current {
    width: auto !important;
  } */

  /* #mainTitle {
    font-weight: 500;
    font-size: 1.9rem;
  }
  h2.confidence {
    font-size: 1.3rem;
  } */

  .lumedic-phone-section {
    background: url("../img/slider-bg-mobile.jpg") bottom right no-repeat;
    /* min-height: 360px; */
    min-width: 768px;
    background-size: cover;
    height: 1358px;
  }
}

@media only screen and (max-width: 425px) {
  section .innerText {
    /* position: absolute;
		  top: 250px;
		  left: 20%;
		  transform: translate(-100px, -50%); */
    text-align: center;
    margin: 30px;

    position: absolute;
    margin-top: -40px;
  }

  #mainTitle {
    font-weight: 500;
    font-size: 1.9rem;
  }
  h2.confidence {
    font-size: 1.3rem;
  }

  .lumedic-phone-section {
    background: url("../img/slider-bg-mobile.jpg");
    min-height: 360px;
    background-size: cover;
  }
}

/* .slick-track {
  display: flex !important;
  justify-items: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.card-slider {
  display: flex; 
  flex: 1 1 100%;
  margin: 10px;
  width: 60%;
} */
.prov-icon {
  text-align: center;
}

/* .slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  width: 33%;
} */

.slide {
  height: 100%;
  background-color: #ccc;
  /* padding: 10px; */
}

.slider-cards-section .slick-slide {
  background-color: #f6f6f6;
  margin: 20px;
}
.step-sliders .slick-slide {
  background-color: transparent;
  padding: 0;
  margin: 20px;
}

.slider-cards-section .slick-slide.slick-current.slick-center {
  height: 100%;
  background-color: #ffffff !important;
  /* padding: 10px; */
}

.roadmap-title {
  margin: 20px 0 40px;
}

.card-slider-mobile {
  margin: 20px 10px;
  padding: 20px;
  background-color: white;
}

.step-sliders .slick-slide.slick-current.slick-center {
  height: 100%;
  background-color: transparent !important;
  /* padding: 10px; */
}

.red {
  color: #c00;
}

.slick-slide.slick-center {
  background-color: white;
}

.list-ic .slick-slide {
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: auto !important;
}

.list-ic .slick-slide.slick-current.slick-active {
  width: auto !important;
}

.list-ic .slick-slide {
  margin: 0;
}

.list-ic .slick-slide.slick-current.slick-active span {
  background-color: #302c29;
}

.lumedic-phone-slider .slick-slide {
  background-color: transparent;
}
.lumedic-phone-slider.slick-slider
  .slick-list
  .slick-track
  .slick-slide.slick-current.slick-center {
  background-color: transparent;
}
